<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather app with authentication</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="hero">
        <div class="hero-head">
            <div class="header-background">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://bulma.io">
                             <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                                 <a href="{{ url_for('main.index') }}" class="navbar-item">
                                     Home
                                 </a>
                                 {% if current_user.is_authenticated %}
                                 <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                     Profile
                                 </a>
                                 {% endif %}
                                 {% if not current_user.is_authenticated %}
                                 <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                     Sign Up
                                 </a>
                                 {% endif %}
                                 {% if not current_user.is_authenticated %}
                                 <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                     Login
                                 </a>
                                 {% endif %}
                                 {% if current_user.is_authenticated %}
                                 <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                     Logout
                                 </a>
                                 {% endif %}
                                 <a href="{{ url_for('auth.contact') }}" class="navbar-item">
                                     Contact
                                 </a>
                             </a>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="container has-text-centered">
            <div class="section-footer">
                <div class="w3-xlarge w3-section">
                    <a href="https://github.com/Vasile-Hij"><i class="fa fa-github w3-hover-opacity"></i></a>
                    <a href="https://vasilehij.medium.com"><i class="fa fa-medium w3-hover-opacity"></i></a>
                    <a href="https://www.linkedin.com/in/vasile-hij"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
