<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web app with Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <div class="has-background-grey-dark">
                <nav class="navbar">
                    <div class="container">
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a href="{{ url_for('main.index') }}" class="navbar-item">
                                    Home
                                </a>
                                {% if current_user.is_authenticated %}
                                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                    Profile
                                </a>
                                {% endif %}
                                {% if not current_user.is_authenticated %}
                                <a href="{{ url_for('main.login') }}" class="navbar-item">
                                    Login
                                </a>
                                <a href="{{ url_for('main.signup') }}" class="navbar-item">
                                    Sign Up
                                </a>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                <a href="{{ url_for('main.logout') }}" class="navbar-item">
                                    Logout
                                </a>
                                {% endif %}
                                <a href="{{ url_for('main.contact') }}" class="navbar-item">
                                    Contact
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


        <div class="hero-body">
            <div class="container">
                <div class="container has-text-centered">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="hero-footer">

            <footer class="w3-center w3-flat-turquoise w3-padding-64 w3-opacity w3-hover-opacity-off">

                <div class="w3-xlarge w3-section">
                    <a href ="https://github.com/Vasile-Hij"><i class="fa fa-github w3-hover-opacity"></i></a>
                    <a href ="https://www.linkedin.com/in/vasile-hij/"></a><i class="fa fa-medium w3-hover-opacity"></i></a>
                    <a href ="https://vasilehij.medium.com"></a><i class="fa fa-linkedin w3-hover-opacity"></i></a>
                </div>
             </footer>
        </div>
    </section>

</body>
</html>
