{% extends "base.html" %}
{% block content %}
<div class="section-contact">
    <h1>LOCATION</h1>
    <h3>
        <i class="fa fa-map-marker fa-fw w3-hover-text-black"></i>Suceava, Romania<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black"></i> Romanian contact: +40 754 610 233<br>
    </h3>
        <br>
    <h2>RELOCATION</h2>
    <h3>
        <i class="fa fa-map-marker fa-fw w3-hover-text-black "></i>London, United Kingdom<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black"></i> UK contact: +44 7492 815 683<br>
        <br>
        <br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black"></i> Email: vasile.hijs@gmail.com<br>
    </h3>
</div>
{% endblock %}