{% extends "base.html" %}

{% block content %}
<div class="container has-text-centered">
  <h3 class="w3-center">LOCATION</h3>
  <div class="w3-center">
    <div class="w3-center">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-center"></i>Suceava, Romania<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-center"></i> Day phone: +40 754 610 233<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-center"></i> Email: vasile.hijs@gmail.com<br>
      </div>
      <p class="w3-center">Your feedback is important for us!</p>
    </div>
  </div>
</div>


{% endblock %}