{% extends "base.html" %}

{% block content %}
<h1 class="title">
	Hi, I am VASILE HIJ and welcome to my school project!
</h1>
<br>
<br>
<h3>
	This is an application that it use API for real-time weather checking multiple cities.
</h3>
<h3>
	All you have tot do is to sign below.
</h3>
<br>
<h3>
  Please <u><a href="{{ url_for('main.login') }}" >log in</a></u> or
  <u><a href="{{ url_for('main.signup') }}" >sign up</a></u>.
</h3>
<br>
<br>
<br>
<br>
<br>
<h2 class="subtitle">
  Before you leave, you can check my <u><a href="https://github.com/Vasile-Hij">github</a></u> account.
</h2>
{% endblock %}
