{% extends "base.html" %}
{% block content %}
<section class="section-index">
    <h1>
    	I am VASILE HIJ and welcome to my school project!
    </h1>
    <br>
    <h2>
        Real-time weather app with API key, database and user authentication.
        <br>
        All you have tot do is to sign below.
    </h2>
    <br>
    <h3>
      Please <u><a href="{{ url_for('auth.login') }}" >log in</a></u> or
      <u><a href="{{ url_for('auth.signup') }}" >sign up</a></u>.
    </h3>
</section>
{% endblock %}