html, body, hero is-primary is-fullheight {
    height: 100vh;
    background: rgb(53,33,185);
    background: linear-gradient(153deg, rgba(53,33,185,1) 14%, rgba(124,3,110,1) 95%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	flex-direction: column;
	color: white;
}

.box {
    background: linear-gradient(#e66465, #9198e5);
    color: #F0FFFF
}



.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 2fr));
	grid-gap: 2vw;
	grid-auto-rows: 31vw;
	padding-left: 23%;
	padding-right: 23%;
	margin-top: 1%;
	margin-bottom: 3vw;
	border-radius: 0.5vw !important;
	text-shadow: 0px 0px 1vw rgba(0,0,0,0.7);
}


.container {
    font-color: #F0FFFF;
}

.container-title {
    text-align: center;
    margin-top: 3%;
}

.title {

    color: #FFFFF0;
    justify-content: center;
}

.to_sign {
    margin-top: 20%;
	padding-left: 5%;
    padding-right: 5%;
	text-align: center;
}

.subtitle {
    color: #F8F8FF;
    justify-content: center;
}

.navbar-item {
    color: #F8F8FF
}

.navbar {
justify-content: center;
}

a:hover {
  background-color: #FFFFE0;
}

.header-background {
    background: rgb(53,33,185);
    background: linear-gradient(49deg, rgba(53,33,185,1) 14%, rgba(124,3,110,1) 95%);
    color: #FAEBD7;
}

.section-index {
    margin-top: 20%;
	padding-left: 18%;
    padding-right: 18%;
	text-align: center;
}

.section-contact {
    margin-top: 25%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.section-footer {
    flex-grow: 1;
    justify-content: center;
}

.form-units {
	margin-top: 4%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	font-size: 1vw;
	margin-bottom: 1%;
}

#input-city {
	border: none;
	outline: none;
	height: 3vw;
	width: 40vw;
	padding-left: 0.5vw;
	box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

.submit-button {
	margin-left: 1vw;
	height: 3vw;
	width: 9vw;
	border: none;
	outline: none !important;
	background-color: #373252;
	color: white;
	box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

.degree-unit {
	font-size: 1.75vw;
}

.delete-button {
	background-color: transparent;
	width: 1.5vw;
	height: 1vw;
	margin: 0;
	padding: 0;
	border: none;
	color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 40px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 14px;
    right: 0;
    bottom: 0;
    background: rgb(63,94,251);
    background: linear-gradient(266deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 20px;
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 8px;
    bottom: 2px;
    background: rgb(185,185,180);
    background: linear-gradient(266deg, rgba(185,185,180,1) 10%, rgba(230,228,221,0.9990371148459384) 31%);;
    -webkit-transition: 0.6s;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background: rgb(252,70,107);
    background: linear-gradient(266deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(65px);
    -ms-transform: translateX(65px);
    transform: translateX(155px);
}

.slider:after {
    content:'°F';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 32pt;
    font-weight: bolder;
}

input:checked + .slider:after {
    content:'°C';
}

::-webkit-scrollbar {
  width: 0.5vw;

  background:-webkit-linear-gradient(0, blue 50%, white 100%);
}

::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, #836273 0%, #373252 100%);

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
